ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}


a:link, a:visited{
    color: #0081C9;
}

.join{
    color: white;
}

.main_nav{
    /* overflow: hidden; */ 
    margin-top: 0px;
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: 13rem 10fr 2fr 2.5fr 13rem;
    background: linear-gradient(0deg, #1d73dc -95%, rgba(255, 255, 255, 0) 65%);
    /* box-shadow: 10px 40px 130px -8px #DC2C1D; */
    box-shadow: 2px 0px 20px 2px #1d73dc;

}

.fix{
    position: fixed;
    top:0;
    z-index: 100;
    backdrop-filter: blur(5px);
    transition: .3 ease-in-out;
    /* height: 5rem; */

}

.logo{
    display: grid;
    justify-content: start;
    align-items: center;
    grid-column: 2/3;
}
.logo img{
    height: 10rem;
}

.menu-link{
    font-family: 'Montserrat',sans-serif ;
    grid-column: 3/4;
}

.menu-link ul{
    text-transform: capitalize;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.menu-link ul li a{
    text-align: right;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.menu-link li a.active{
    color: #1d73dc;
}

.Buttontext{
    color: white;
}

.buttonEffect :hover{
    color: #1d73dc;
    text-decoration: underline;
    transform: scale(0.96);
    transition: 0.3s ease-in-out;
}

.buttonGroupEffect :hover{
    /* color: #DC2C1D; */
    text-decoration: underline;
    transform: scale(0.96);
    transition: 0.3s ease-in-out;
}
.affiliated{
    grid-column: 4/5;
}

.affiliated ul{
    height: 10rem;
    display: grid;
    align-items: center;
    justify-content: flex-end;
}

.affiliated ul li{
    text-align: right;
    
    
}


.affiButtonG{
    height: 4rem;
    width: 100%;
   
}

.affiButtonG button{
    font-size: 1rem;
}
